h1	{color: #00e6e6;}
h2	{color: #ffcccc;}

#nav 	{
	border: 2px dashed #ffb366;
	margin: 10px 5px 15px 20px;
}

#nav a	{
	text-decoration: none;
	color: #ddddbb;
}

.penjelasan {
	font-family: Ostwald;
	font-variant: small-caps;

}