@import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400';
body, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gulp Red */
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to right, #243b55, #141e30);
  font-size: 16px;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}
.card {
  width: 500px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.card:after {
  content: "";
  display: block;
  width: 190px;
  height: 300px;
  background: linear-gradient(to right, #cf4647, #ff6a5c);
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}
.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ececec;
  width: 480px;
  height: 350px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: -200px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}
.badgescard p{
}
.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  max-width: 100px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
  color: #34495e;
}
.firstinfo .profileinfo h3 {
  font-size: 1em;
  color: #cf4647;
}
.bio{
  padding: 10px 0px;
  color: #5a5a5a;
  line-height: 1.2;
  font-style: initial;
  font-size: 0.825em;
}

.badgescard p{
  color: #5a5a5a;
  margin: 16px;
  font-style: initial;
  font-size: 0.825em;
}

.badgescard li {
    margin: 0;
    padding: 0;
  color: #5a5a5a;
  line-height: .5;
  font-style: initial;
  font-size: 0.825em;
    list-style: disc
}

.badgescard ul{
    margin: 0;
    list-style: georgian
}

a{
    color: skyblue;
    text-decoration: none
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -600px;
  }
  100% {
    opacity: 1;
    bottom: 100px;
  }
}
@keyframes animainfos {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: -370px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}